<div class="mos-app-wrapper">
  <mat-toolbar>
    <span>Logo</span>
    <nav>
      <ul style="display: flex; gap: 20px;">
        <li><a routerLink="/" routerLinkActive="active">Main</a></li>
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/catalog" routerLinkActive="active">Catalog</a></li>
        <li><a routerLink="/museum" routerLinkActive="active">Museum</a></li>
      </ul>
    </nav>
  </mat-toolbar>
  <h1>Project 'Army of Commander Lexxicus'</h1>
  <router-outlet></router-outlet>
</div>
