<h2>TODO list - Global tasks</h2>
<ul>
  <li><mat-checkbox class="example-margin" [checked]="true">Create TODO list</mat-checkbox></li>
  <li><mat-checkbox class="example-margin">Create routing</mat-checkbox></li>
  <li><mat-checkbox class="example-margin">Create header</mat-checkbox></li>
  <li><mat-checkbox class="example-margin">Create footer</mat-checkbox></li>
  <li><mat-checkbox class="example-margin">Change main page</mat-checkbox></li>
  <li><mat-checkbox class="example-margin">Create Admin module</mat-checkbox></li>
  <li><mat-checkbox class="example-margin">Create Catalog module</mat-checkbox></li>
  <li><mat-checkbox class="example-margin">Create Museum module - iteration 2.0</mat-checkbox></li>
  <li><mat-checkbox class="example-margin">Replace TODO list from main to another page</mat-checkbox></li>
  <li><mat-checkbox class="example-margin">Divide TODO list into iterations</mat-checkbox></li>
  <li><mat-checkbox class="example-margin">Expand TODO for each global item</mat-checkbox></li>
  <li><mat-checkbox class="example-margin">Add Russian and English</mat-checkbox></li>
  <li><mat-checkbox class="example-margin">Create theme(colors, logo, favicon)</mat-checkbox></li>
</ul>
